.divideheader {
  display: flex;
  align-items: center;
  color: white;

  h2 {
    color: #cecedc;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
  }

  span {
    background: #eee;
    flex: 1 1;
    height: 2px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }
}
